@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@font-face {
    font-family: "CircularSpotifyTxT-Book";
    src: url("https://db.onlinewebfonts.com/t/21a1184148d11d67c19f5076b909d63b.eot");
    src: url("https://db.onlinewebfonts.com/t/21a1184148d11d67c19f5076b909d63b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/21a1184148d11d67c19f5076b909d63b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/21a1184148d11d67c19f5076b909d63b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/21a1184148d11d67c19f5076b909d63b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/21a1184148d11d67c19f5076b909d63b.svg#CircularSpotifyTxT-Book")format("svg");
}

* {
    font-family: CircularSpotifyTxT-Book, serif;
}

body {
    height: 100%;
    margin: 0;

    background: #06242b;
}

.forms-smc {
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 5%;
}

.container-smc {
    background: linear-gradient(160deg, rgba(17, 76, 89, 0.4) 0%, rgba(12, 70, 83, 0.57) 35%, rgb(6, 36, 43) 100%);
    border: 1px solid #214b5563;
    border-radius: 5px;
}


.bg-smc {
    background-color: #0c343d !important;
}

.bg-smc-form {
    //background: linear-gradient(160deg, rgba(222, 222, 222, 0.64) 0%, rgba(255, 255, 255, 0.51) 35%, rgba(109, 109, 109, 0.44) 100%);
    background: linear-gradient(160deg, rgba(255, 229, 153, 0.57) 0%, rgba(15, 89, 106, 0.57) 35%, rgb(6, 36, 43) 100%);
    border-radius: 10px;
}

.signin-button {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    background-color: #f7be4b;
    border: 0px;
    border-radius: 500px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    min-inline-size: 0px;
    align-self: center;
}

.icon-google {
    background: url("https://accounts.scdn.co/sso/images/new-google-icon.72fd940a229bc94cf9484a3320b3dccb.svg") center center no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}

.btn-spty-transparent {
    background-color: transparent !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
    border-radius: 5px !important;
}

.btn-spty-transparent:hover {
    background-color: transparent !important;
    color: #fde498 !important;
    border: 1px solid #fde498 !important;
    border-radius: 5px !important;
}

.smc-effect-text:hover {
    color: #f7be4b !important;
}


.button-smc {
    box-sizing: border-box;
    position: relative;
    background-color: #f7be4b !important;
    color: #000;
    display: flex;
    border-radius: 500px;
    font-size: inherit;
    min-block-size: 48px;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding-block: 8px;
    padding-inline: 32px;
    border: none;
}

.button-smc:hover {
    background-color: #f7be4b !important;
    color: #000;
    transform: scale(1.05);
}

.button-smc:focus {
    background-color: #f7be4b !important;
    color: #000;
}

.button-smc:not(:disabled):not(:disabled):active {
    background-color: #f7be4b;
    color: #000;
}

.input-smc {
    color: black;
    background-color: #d5d5d5;
    appearance: none;
    background-image: none;
    border: 0px;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
    inline-size: 100%;
    box-sizing: border-box;
    margin-block: 0px;
    border-radius: 4px;
    padding-inline: 14px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    min-block-size: 48px;
    box-shadow: inset 0 0 0 1px #878787;
}

.input-smc:hover{
    color: #d0d0d0;
    border-color: black;
    border-width: 4px;
    background-color:rgba(218, 218, 218, 0.7);
}

.input-smc:focus{
    color: #828282;
    border-color: #b0b0b0;
    border-width: 4px;
    background-color: rgba(218, 218, 218, 0.7);
}
.input-smc::placeholder {
    color: #d1d1d1;
}

.check-smc:checked {
    background-color: #f7be4b !important;
    border-color: transparent !important;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e") !important;
}

.check-smc {
    background-color: #f9bf4b7a !important;
    border-color: transparent !important;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e") !important;
}
