html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    /*background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%) no-repeat;*/

    background: linear-gradient(rgb(40, 40, 40) 0%, rgb(0, 0, 0) 100%) no-repeat;
}

.button-sptf {
    box-sizing: border-box;
    position: relative;
    background-color: #1ed760;
    color: #000;
    display: flex;
    border-radius: 500px;
    font-size: inherit;
    min-block-size: 48px;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding-block: 8px;
    padding-inline: 32px;
    border: none;
}

.button-sptf:hover {
    background-color: #1ed760;
    color: #000;
    transform: scale(1.05);

}

.input-sptf {
    background-color: #1a1d20;
    appearance: none;
    background-image: none;
    border: 0px;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
    inline-size: 100%;
    box-sizing: border-box;
    margin-block: 0px;
    border-radius: 4px;
    padding-inline: 14px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    min-block-size: 48px;
    box-shadow: inset 0 0 0 1px #878787;
}
.input-sptf:hover{
    border-color: #fff;
    border-width: 4px;
    background-color:rgba(0,0,0,0.7);
}

.input-sptf:focus{
    border-color: #fff;
    border-width: 4px;
    background-color: rgba(0,0,0,0.7);
}
.input-sptf::placeholder {
    color: #a7a7a7;
}

hr {
    color: #ababab;
}

.form-login {
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 5%;
}
