@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.container-smc-placeholder {
    background: linear-gradient(160deg, rgba(17, 76, 89, 0.4) 0%, rgba(12, 70, 83, 0.57) 35%, rgb(6, 36, 43) 100%);
    border: 1px solid #214b5563;
    border-radius: 5px;
    background-size: 200% 200%;
    padding-top: 10% !important;
    animation: 1s shine linear infinite;
}
